<!DOCTYPE html>
<html code="<%= response.try(:code) if defined?(response) %>">

<head>
  <title>Dummy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    controller.action_name, media: "all" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>

</html>